#header-links {
	font-family: "Montserrat",sans-serif;
	font-size: 16px;
	text-align: center;
	overflow: hidden;
}

#header-links a {
	text-align: center;
	text-decoration: overline;
	margin:0px 15px;
	padding: 0px;
}

#header-titles {
	font-family: "Montserrat",sans-serif;
	font-size:25px;
	margin: 42px 0px 15px 0px;
}

#kt-logo {
	display:block;
	margin-left: auto;
	margin-right:auto;
	padding: 0;
	max-width: 100px;
	height: auto;
}

#title {
	text-align: center;
	font-family: "Merriweather",serif;
	font-size-adjust: all;
}

b.default-cursor {
	cursor: default !important;
}

img.about-me-img {
	display: block;
	margin-left: auto;
	margin-right: auto;
	opacity: 0.5;
}

img.about-me-img:hover {
	opacity:1;
}

img.pointer {
	cursor: pointer;
}

img.opaque {
	opacity:1;
	cursor: default;
}

p.hidden {
	visibility: hidden;
}

a {
	background-color: lightgray;
    color: black !important;
    position: static;
}

a:hover {
	background-color: black;
	text-decoration: none !important;
	color:tomato !important;
}

.sticky {
	position: fixed !important;
	top: 0;
	left:0;
	width:100%;
	z-index: 9999 !important;
	border-top: 0;
	background-color: tomato;
}

.row {
	display:flex;
	align-items: center;
}

.jumbotron {
	background-color: tomato !important;
	font-size:50px;
	height:175px;
}

.zoom {
    transition: transform .2s;
}


.zoom:hover {
    transform: scale(1.5);
    z-index: 9999 !important;
    margin-left: auto !important;
    margin-right: auto !important;
}

p {
	font-family: "Montserrat",sans-serif;
}

ul {
	text-align: center;
	width: 100%;
	padding: 0;
}

body {
	position:relative;
}

@media only screen and (min-width: 768px) {
	#kt-logo {width: 125px;height: auto;}
	#header-links{font-size:25px;}
	#header-titles{font-size:30px;}
	p {font-size: 25px;}

}