@media screen and (min-width: 50px){
	body {
		position: relative;
		background: #182634;
	}

	a {
		text-decoration: underline;
		color: #FFFFFF;
	}

	a:hover {
		text-decoration: none !important;
		color: #6AFFF6 !important;
	}

	p {
		font-family: "Nunito";
		font-style: normal;
		font-weight: normal;
		font-size: 13px;
		line-height: 18px;
		letter-spacing: 0.5px;
		color: #FFFFFF;
	}

	h3 {
		font-family: "Nunito";
		font-style: normal;
		font-weight: normal;
		font-size: 24px;
		line-height: 33px;
		color: #FFFFFF;
	}

	h6 {
		font-family: "Nunito";
		font-style: normal;
		font-weight: 600 !important;
		font-size: 12px;
		line-height: 16px;
		text-align: justify;
		letter-spacing: 0.15px;
		color: #FFFFFF;
	}

	.adj-gutters {
	  margin-right: 20px;
	  margin-left: 20px;

	  > .col,
	  > [class*="col-"] {
	    padding-right: 5px;
	    padding-left: 5px;
	  }
	}

	.container {
		max-width: 550px;
	}

	.header {
		margin-top: 30px;
	}

	.no-gutters {
	  margin-right: 0;
	  margin-left: 0;

	  > .col,
	  > [class*="col-"] {
	    padding-right: 0;
	    padding-left: 0;
	  }
	}

	.header-links {
		float: right;
		font-family: "Nunito";
		font-style: normal;
		font-weight: normal;
		font-size: 13px;
		line-height: 18px;
		text-decoration: none !important;
		letter-spacing: 0.5px;
		text-transform: uppercase;
		color: #FFFFFF;
		margin-left: 10px !important;
		margin-right: 10px !important;
	}

	#from-scratch{
		margin-top: 60px;
	}

	#headshot {
		width: 68.65px;
		height: 122px;
		border: 1.66436px solid #FFFFFF;
		box-sizing: border-box;
		float: left;
		margin-bottom: 18px;
	}

	#design-text {
		text-shadow: 0px 2px 4px rgba(255, 255, 255, 0.4);
	}

	#previously {
		margin-top: 30px !important;
	}

	#star {
		display: none;
	}
}

@media screen and (min-width: 450px){
	body {
		position: relative;
		background: #182634;
	}

	a {
		text-decoration: underline;
		color: #FFFFFF;
	}

	a:hover {
		text-decoration: none !important;
		color: #6AFFF6 !important;
	}

	p {
		font-family: "Nunito";
		font-style: normal;
		font-weight: normal;
		font-size: 13px;
		line-height: 18px;
		letter-spacing: 0.5px;
		color: #FFFFFF;
	}

	h3 {
		font-family: "Nunito";
		font-style: normal;
		font-weight: normal;
		font-size: 24px;
		line-height: 33px;
		color: #FFFFFF;
	}

	h6 {
		font-family: "Nunito";
		font-style: normal;
		font-weight: 600;
		font-size: 12px;
		line-height: 16px;
		text-align: justify;
		letter-spacing: 0.15px;
		color: #FFFFFF;
		margin-bottom: 0 !important;
	}

	.adj-gutters {
	  margin-right: 20px;
	  margin-left: 20px;

	  > .col,
	  > [class*="col-"] {
	    padding-right: 5px;
	    padding-left: 5px;
	  }
	}

	.container {
		max-width: 900px;
	}

	.header {
		margin-top: 30px;
		margin-bottom: 20px;
	}

	.no-gutters {
	  margin-right: 0;
	  margin-left: 0;

	  > .col,
	  > [class*="col-"] {
	    padding-right: 0;
	    padding-left: 0;
	  }
	}

	.header-links {
		font-family: "Nunito";
		font-style: normal;
		font-weight: normal;
		font-size: 13px;
		line-height: 18px;
		text-decoration: none !important;
		letter-spacing: 0.5px;
		text-transform: uppercase;
		color: #FFFFFF;
		margin-left: 10px !important;
		margin-right: 10px !important;
	}

	#from-scratch{
		margin-top: 100px;
		margin-bottom: 20px;
	}

	#headshot {
		width: 165px;
		height: 293.21px;
		border: 4px solid #FFFFFF;
		box-sizing: border-box;
	}

	#design-text {
		text-shadow: 0px 2px 4px rgba(255, 255, 255, 0.4);
	}

	#previously {
		margin-top: 30px !important;
	}
	#star {
		display: inline !important;
	}
}


@media screen and (min-width: 1110px){
	body {
		position: relative;
		background: #182634;
	}

	a {
		text-decoration: underline;
		color: #FFFFFF;
	}

	a:hover {
		text-decoration: none !important;
		color: #6AFFF6 !important;
	}

	p {
		font-family: Nunito;
		font-style: normal;
		font-weight: normal;
		font-size: 15px;
		line-height: 20px;
		letter-spacing: 0.5px;
		color: #FFFFFF;
	}

	h3 {
		font-family: Nunito;
		font-style: normal;
		font-weight: normal;
		font-size: 32px;
		line-height: 44px;
		text-align: justify;
		color: #FFFFFF;
	}

	h6 {
		font-family: Nunito;
		font-style: normal;
		font-weight: 600;
		font-size: 17px;
		line-height: 20px;
		text-align: justify;
		letter-spacing: 0.15px;
		color: #FFFFFF;
	}

	.adj-gutters {
	  margin-right: 20px;
	  margin-left: 20px;

	  > .col,
	  > [class*="col-"] {
	    padding-right: 10px;
	    padding-left: 10px;
	  }
	}

	.container {
		max-width: 1200px;
	}

	.header {
		margin-top: 60px;
		margin-bottom: 60px;
	}

	.no-gutters {
	  margin-right: 0;
	  margin-left: 0;

	  > .col,
	  > [class*="col-"] {
	    padding-right: 0;
	    padding-left: 0;
	  }
	}

	.header-links {
		font-family: "Nunito";
		font-style: normal;
		font-weight: normal;
		font-size: 17px;
		line-height: 23px;
		letter-spacing: 0.5px;
		text-decoration: none !important;
		letter-spacing: 0.5px;
		text-transform: uppercase;
		color: #FFFFFF;
		margin-left: 10px !important;
		margin-right: 10px !important;
	}

	#from-scratch{
		margin-top: 150px;
		margin-bottom: 20px;
	}

	#headshot {
		width: 220px;
		height: 390.94px;
		border: 5.33333px solid #FFFFFF;
		box-sizing: border-box;
	}

	#design-text {
		text-shadow: 0px 2px 4px rgba(255, 255, 255, 0.4);
	}

	#previously {
		margin-top: 36px !important;
	}

	#star {
		display: inline !important;
	}
}


@media screen and (min-width: 1352px){
	body {
		position: relative;
		background: #182634;
	}

	a {
		text-decoration: underline;
		color: #FFFFFF;
	}

	a:hover {
		text-decoration: none !important;
		color: #6AFFF6 !important;
	}

	p {
		font-family: "Nunito";
		font-style: normal;
		font-weight: normal;
		font-size: 17px;
		line-height: 23px;
		letter-spacing: 0.5px;
		color: #FFFFFF;
	}

	h3 {
		font-family: "Nunito";
		font-style: normal;
		font-weight: normal;
		font-size: 51px;
		line-height: 70px;
		color: #FFFFFF;
	}

	h6 {
		font-family: "Nunito";
		font-style: normal;
		font-weight: 600;
		font-size: 21px;
		line-height: 23px;
		letter-spacing: 0.15px;
		color: #FFFFFF;
		margin-bottom: 5px !important;
	}

	.adj-gutters {
	  margin-right: 20px;
	  margin-left: 20px;

	  > .col,
	  > [class*="col-"] {
	    padding-right: 10px;
	    padding-left: 10px;
	  }
	}

	.container {
		max-width: 1440px;
	}

	.header {
		margin-top: 60px;
		margin-bottom: 80px;
	}

	.no-gutters {
	  margin-right: 0;
	  margin-left: 0;

	  > .col,
	  > [class*="col-"] {
	    padding-right: 0;
	    padding-left: 0;
	  }
	}

	.header-links {
		font-family: "Nunito";
		font-style: normal;
		font-weight: normal;
		font-size: 17px;
		line-height: 23px;
		letter-spacing: 0.5px;
		text-decoration: none !important;
		letter-spacing: 0.5px;
		text-transform: uppercase;
	}

	#from-scratch{
		margin-top: 200px;
		margin-bottom: 23px;
	}

	#headshot {
		position: absolute;
		width: 330px;
		height: 586.41px;
		border: 8px solid #FFFFFF;
		box-sizing: border-box;
	}

	#design-text {
		text-shadow: 0px 2px 4px rgba(255, 255, 255, 0.4);
	}

	#previously {
		margin-top: 70px !important;
	}

	#star {
		display: inline !important;
	}
}